.Builder{
    border: 2px solid white;
    padding: 20px 40px;
}

.builderButtons{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.builderSection{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.builderSection > *{
    display: flex;
    justify-content: space-around;
}

textarea{
    font-family: arial;
}

.inputs > *, .inputs > * > *{
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 10px; */
    margin: 5px;
}