.Builder{
    border: 2px solid white;
    padding: 20px 40px;
}

.Builder *{
    /* border: 1px solid white; */
    max-width: 420px;
    text-align: center;
}

.builderButtons{
    padding: 5px;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
}

.main{
    justify-content: space-between;
}

.builderSection{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.builderSection > *{
    display: flex;
    justify-content: space-around;
}

textarea{
    font-family: arial;
    width: 300px;
    min-height: 100px;
    margin: 0px;
}

.inputs > *, .inputs > * > *{
    margin: 0px 5px 5px 5px;
}

.CVSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactDetails{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    /* background-color: blue; */
}

.details{
    display: flex;
    flex-direction: column;
}

.details > *{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.CV{
    border: 2px solid white;
    padding: 20px 40px;
}